livekit==1.1.15
livekit-agents==1.7.1
livekit-api==1.2.1
livekit-plugins-rime==1.7.1
livekit-plugins-openai==1.7.1
livekit-plugins-google==1.7.1
livekit-plugins-silero==1.7.1
openai==2.54.0
python-dotenv==1.2.3
pydantic>=2.0.0
